.travelContainer {
  width: 100%;
  height: 100%;
  background-color: #171919;
  position: relative;
}
.imageBackground {
  position: relative;
  background-image: url(../../assets/img/SleepImg.png);
  display: flex;
  background-size: 1115.291px 780.295px;
  background-position: top left;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 300px;
  padding: 100px 84px 0px 135px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .imageBackground {
    padding: 50px 84px 0px 70px;
  }
}
.arrowContainer {
  display: flex;
  gap: 10px;

  svg {
    transform: rotate(180deg);
    opacity: 0.25;
  }
  svg:last-of-type {
    transform: rotate(0deg);
    opacity: 0.25;
  }
}
.titleContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  p {
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 86px; /* 215% */
    text-transform: uppercase;
  }
}
.titleContainer2 {
  display: flex;
  flex-direction: column;
  span {
    width: 80px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.5;
    background: white;
  }
  @media (max-width: 768px) {
    .titleContainer2 {
      span {
        width: 40px;
      }
    }
  }
  .subTitileWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
  }
  .subTitle {
    color: white;
    text-align: right;
    font-family: Fira Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
    letter-spacing: 7.333px;
    text-transform: uppercase;
  }
  .title {
    color: white;

    text-align: right;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 86px; /* 107.5% */
    text-transform: uppercase;
  }
}
.lastTitle {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px; /* 215% */
  text-transform: uppercase;
}
.lastTitleContainer {
  display: flex;
  gap: 30px;
  align-items: center;
  img {
    width: 70px;
    height: 70px;
  }
}
.plane {
  background-image: url(../../assets/img/Hammock.png);
  width: 493px;
  height: 285px;
  position: absolute;
  bottom: 743px;
  right: 0px;
}
@media (max-width: 768px) {
  .plane {
    display: none;
  }
}
.aboutPlain {
  display: flex;
  width: 90%;
  margin-top: 75px;
  margin: 75px auto;
}
@media (max-width: 768px) {
  .aboutPlain {
    flex-wrap: wrap;
  }
}
.upSide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: auto;
  justify-content: center;
  margin-bottom: 320px;
  span {
    display: block;
    width: 20px;
    height: 1px;
    flex-shrink: 0;
    background-color: white;
  }
}
@media (max-width: 768px) {
  .upSide {
    margin-bottom: 150px;
  }
}
.logoBox {
  width: 168px;
  height: 80px;
  background-color: #4af6cd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.logoText {
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 90% */
  text-transform: uppercase;
}
.coctail {
  position: absolute;
  background-image: url(../../assets/img/Frangipani.png);
  background-repeat: no-repeat;
  width: 430px;
  height: 564px;
  top: 75%;
  right: -244px;
}
@media (max-width: 768px) {
  .coctail {
    display: none;
  }
}
