@import '../../styles/variables.scss';
.cardContainer {
  width: 390px;
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 72px 40px 0px;
  box-sizing: border-box;

  h3 {
    position: absolute;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
  }
  .supTitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(20%);
    white-space: nowrap;
    position: absolute;
    left: 40px;
    bottom: 0;
  }
}
.cardContainer:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}
.cardContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.upSide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: auto;
  span {
    display: block;
    width: 20px;
    height: 1px;

    flex-shrink: 0;
    margin-bottom: 18px;
    background-color: $main-white;
  }
}
.logoBox {
  width: 168px;
  height: 80px;
  background-color: $main-green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.logoText {
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 90% */
  text-transform: uppercase;
}
